<ion-view title="Dodaj predmet" id="page7">
  <ion-content padding="true" class="has-header">
    <form id="dodajPredmet-form8" class="list">
      <label class="item item-input" id="dodajPredmet-input13">
        <span class="input-label">Naziv</span>
        <input type="text" placeholder="naziv predmeta">
      </label>
      <label class="item item-select" id="dodajPredmet-select3">
        <span class="input-label">Učionica</span>
        <select>
          <option>ucionica</option>
          <option>sss</option>
        </select>
      </label>
      <label class="item item-input" id="dodajPredmet-input14">
        <span class="input-label">Garancija</span>
        <input type="text" placeholder="garancija u godinama">
      </label>
      <label class="item item-input" id="dodajPredmet-input16">
        <span class="input-label">Datum nabave</span>
        <input type="date" placeholder="garancija u godinama">
      </label>
      <label class="item item-select" id="dodajPredmet-select4">
        <span class="input-label">Stanje</span>
        <select>
          <option>stanje</option>
        </select>
      </label>
      <label class="item item-select" id="dodajPredmet-select5">
        <span class="input-label">Kategorija</span>
        <select>
          <option>kategorija</option>
        </select>
      </label>
      <button id="dodajPredmet-button27" class="button button-positive button-block button-outline">Dodaj predmet!</button>
    </form>
  </ion-content>
</ion-view>