<ion-view title="login" hide-nav-bar="true" cache-view="false" nav-transition="none" id="page5">
  <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
    <div id="login-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{error}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 39px;"></div>
    <form id="login-form3" class="list">
      <div>
        <img src="img/Cz9W0m3tSSyQRC0qApey_59262-200.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="width: 300px; height: 19px;"></div>
      <ion-list id="login-list4" class="login-input">
        <label class="item item-input login-input" id="login-input3">
          <span class="input-label">Ime</span>
          <input type="text" placeholder="Upišite ime">
        </label>
        <label class="item item-input login-input" id="login-input4">
          <span class="input-label">Lozinka</span>
          <input type="password" placeholder="Upišite lozinku">
        </label>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 19px;"></div>
      <a ui-sref="menu.sviPredmeti()" id="login-button14" style="font-weight:500;color:#010101;border-radius:10px 10px 10px 10px;" class="button button-stable button-block button-outline button-login">Prijavi se</a>
      <a ui-sref="register()" id="login-button15" class="button button-stable button-block button-clear">Registriraj se!</a>
    </form>
  </ion-content>
</ion-view>