<ion-view title="Predmet" id="page6">
  <ion-content padding="true" class="has-header">
    <h1 id="predmet-heading1" style="color:#000000;">Heading</h1>
    <div id="predmet-button-bar1" class="button-bar"></div>
    <form id="predmet-form4" class="list">
      <label class="item item-input" id="predmet-textarea1">
        <span class="input-label">Text</span><textarea placeholder=""></textarea></label>
    </form>
    <div id="predmet-button-bar2" class="button-bar item-bar">
      <a ui-sref="menu.urediPredmet()" id="predmet-button23" style="color:#000000;" class="button button-positive button-block button-icon icon ion-edit"></a>
      <button id="predmet-button25" style="color:#000000;" class="button button-positive button-block button-icon icon ion-android-delete"></button>
    </div>
  </ion-content>
</ion-view>