<ion-view title="register" hide-nav-bar="true" cache-view="false" nav-transition="none" id="page9">
  <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
    <div id="register-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{error}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 19px;"></div>
    <form id="register-form9" class="list">
      <div>
        <img src="img/Cz9W0m3tSSyQRC0qApey_59262-200.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="width: 300px; height: 19px;"></div>
      <ion-list id="register-list6" class="login-input">
        <label class="item item-input login-input" id="register-input10">
          <span class="input-label">Ime</span>
          <input type="text" placeholder="Upišite ime">
        </label>
        <label class="item item-input login-input" id="register-input11">
          <span class="input-label">Lozinka</span>
          <input type="password" placeholder="Upišite lozinku">
        </label>
        <label class="item item-input login-input" id="register-input12">
          <span class="input-label">Potvrdi lozinku</span>
          <input type="password" placeholder="Upišite lozinku">
        </label>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 19px;"></div>
      <a ui-sref="login()" id="register-button28" style="font-weight:500;color:#010101;border-radius:10px 10px 10px 10px;" class="button button-stable button-block button-login">Registriraj se</a>
      <a ui-sref="login()" id="register-button29" class="button button-stable button-block button-clear">Prijavi se!</a>
    </form>
  </ion-content>
</ion-view>