<ion-view title="Svi predmeti" id="page1">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-android-add"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="sviPredmeti-list8">
      <label class="item item-input" id="sviPredmeti-search3">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
      <ion-item id="sviPredmeti-list-item15" ui-sref="menu.predmet()">Item
        <ion-option-button class="button-assertive">obriši</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>