<ion-view title="Uredi predmet" id="page10">
  <ion-content padding="true" class="has-header">
    <form id="urediPredmet-form10" class="list">
      <label class="item item-input" id="urediPredmet-input17">
        <span class="input-label">Naziv</span>
        <input type="text" placeholder="naziv predmeta">
      </label>
      <label class="item item-select" id="urediPredmet-select6">
        <span class="input-label">Učionica</span>
        <select>
          <option>ucionica</option>
          <option>sss</option>
        </select>
      </label>
      <label class="item item-input" id="urediPredmet-input18">
        <span class="input-label">Garancija</span>
        <input type="text" placeholder="garancija u godinama">
      </label>
      <label class="item item-input" id="urediPredmet-input19">
        <span class="input-label">Datum nabave</span>
        <input type="date" placeholder="garancija u godinama">
      </label>
      <label class="item item-select" id="urediPredmet-select7">
        <span class="input-label">Stanje</span>
        <select>
          <option>stanje</option>
        </select>
      </label>
      <label class="item item-select" id="urediPredmet-select8">
        <span class="input-label">Kategorija</span>
        <select>
          <option>kategorija</option>
        </select>
      </label>
      <button id="urediPredmet-button30" class="button button-positive button-block button-outline">Spremi predmet!</button>
    </form>
  </ion-content>
</ion-view>