<body onLoad="openNav1(),closeNav2()">

<div id="mySidenav1" class="sidenav1">



  <span href="javascript:void(0)" id="closebtn1" class="closebtn1" onclick="closeNav1()"><h1>&#x21C7;</h1></span>
  <span id="openkategorije" onclick="openNav1()"><h1>☰</h1></span>

  <span id="kategorije0"><h1><center>INV☰NTORY </center></h1></span>  
  <hr>

  <p href="#" onclick="openNav2()"  id="kategorije1">Učionice</p>
  <p href="#" onclick="closeNav2()" id="kategorije2">Namjestaj</p>
  <p href="#" onclick="closeNav2()" id="kategorije3">Kategorija 2</p>
  <p href="#" onclick="closeNav2()" id="kategorije4">Kategorija 3</p>

</div>



<div id="main1" class="container-fluid">

<div id="mySidenav2" class="sidenav2">
  <p href="#">Učionica 1</p>
  <p href="#">Učionica 2</p>
  <p href="#">Učionica 3</p>
  <p href="#">Učionica 4</p>
  <p href="#">Učionica 5</p>
  <p href="#">Učionica 6</p>
  <p href="#">Učionica 7</p>
  <p href="#">Učionica 8</p>
  <p href="#">Učionica 9</p>
  <p href="#">Učionica 10</p>
  <p href="#">Učionica 11</p>
  <p href="#">Dvorana</p>
  <p href="#">Čitaonica</p>
  <p href="#">Glazbeni razred</p>
  <p href="#">Fizika</p>
  <p href="#">Biologija</p>
  <p href="#">Kemija</p>
  <p href="#">Informatika1</p>
  <p href="#">Informatika2</p>
</div>

<div id="main2">

    <div id="homeheader">
    <span><input type="text" placeholder="Pretraži..." class="form-control input" id="homesearch"></span>
              
            <span class="homelogout">x</span>
            <span class="homewelcome">Dobrodošao, Ivoree</span>


    </div>


  </div>
  <span id="homeproducts1">
      <div class="homeproducts">
        Televizor
      </div>
      <div class="homeproducts">
        Televizor
      </div>
      <div class="homeproducts">
        Televizor
      </div>
      <div class="homeproducts">
        Televizor
      </div>
      <div class="homeproducts">
        Televizor
      </div>
      <div class="homeproducts">
        Televizor
      </div>
      <div class="homeproducts">
        Televizor
      </div>
      <div class="homeproducts">
        Televizor
      </div>
      <div class="homeproducts">
        Televizor
      </div>
      <div class="homeproducts">
        Televizor
      </div>
      <div class="homeproducts">
        Televizor
      </div>
      <div class="homeproducts">
        Televizor
      </div>
      <div class="homeproducts">
        Televizor
      </div>
      <div class="homeproducts">
        Televizor
      </div>
      <div class="homeproducts">
        Televizor
      </div>
      <div class="homeproducts">
        Televizor
      </div>
      <div class="homeproducts">
        Televizor
      </div>
      <div class="homeproducts">
        Televizor
      </div>
      <div class="homeproducts">
        Televizor
      </div>
      <div class="homeproducts">
        Televizor
      </div>
      <div class="homeproducts">
        Televizor
      </div>
      <div class="homeproducts">
        Televizor
      </div>
      <div class="homeproducts">
        Televizor
      </div>

    </span>
    <span id="homeproducts2">
      OPIS
    </span>

</body>


     
