<div class="logregmiddle">
	<div class="container" ng-controller = "loginController as login">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
				<form role="form" class="logregcolor">
					<fieldset>
						<center><h1> I N V ☰ N T O R Y </h1></center>
						<div ng-hide="register.registerSuccess">
						<hr>
						<div class="form-group">
							<input type="text" ng-model="email" placeholder="Username" class="form-control input-lg">
						</div>
						<div class="form-group">
							<input type="password" ng-model="pass" placeholder="Password" class="form-control input-lg">
						</div>
						<div class="form-group">
							<input type="password" ng-model="pass" placeholder="Confirm password" class="form-control input-lg">
						</div>
						<hr>
						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6">
							<button type="button" ng-click="register.redirect()" class="btn btn-lg btn-default btn-block">I have account</button>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<p ng-click="register.send(email, pass)" class="btn btn-lg btn-primary btn-block">REGISTER</p>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>